# Masukan API ID ambil di web my.telegram.org
API_ID = "24845264"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "aac1e6ec8b92e78383fc673761a4f0a5"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/StringManRobot
# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION5
STRING_SESSION1 = "BQAhIHQAZYLoM4u_ClPDnvpj9Rqc5qihI8turUIpyMobcZRLxqj1dvdC8msU8pfmJnC_2KWQ2EA39f-WKEUbeA19eDdtuIUtpWmvOg2paCJmJHc9TtvQgIblxMjyaEc56uFIhrS0qd-B_HgQ6y352ZFYypDokR8ta12iYaaHfcr07ZnLXGK78CUTiRE7gWzj5t6LmqZAeRBWsc0aKK-A6ys8kppnB1YJTmD7FqR3McJin6a44Lxb6XSknf7XA4IJoj-xgZDzNmCYTvxShfTq0-EKk9G6dMzIFRtQEJz_R1SlAoR1uWSMUDzIjPX3fhO-7m1arQ45EbgHheHCPm_bmpCoEStkXwAAAABSkp2xAA"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = -1002107678421 # ini adalah integer, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://pkwqpoul:Tqvonmn468x5FY4hHIeVZh5TKZjWZhaB@manny.db.elephantsql.com/pkwqpoul"
